/*

Provides a Vue 3 component that displays a form for Guest Information that
allows editing, and submitting changes. 

Requires a GuestInfoBackend that implements GuestInfoAPI v1.0.3

Emits a guestInfoCancelEvent

*/

<template>
    <form v-on:submit.prevent="submitForm">
        <p>Guest Id Number: {{ guestData.wneID }}</p>
        <p>Is the guest a WNE on-campus resident?
            <select v-model="guestData.residency">
                <option value="resident">Yes</option>
                <option value="commuter">No</option>
            </select>
        </p>
        <p>Is the guest a graduate or undergrad student?
            <select v-model="guestData.grad">
                <option value="UG">Undergrad</option>
                <option value="G">Grad</option>
            </select>
        </p>
        <p>Graduating Year
            <input id="grad_year" required minlength="4" maxlength="4" v-model="guestData.grad_year" type="number"
                min="1919" step="1" value="2023">
        </p>
        <button class="submit" @click="submitGuestData">Submit</button>
        <button class="submit" @click="cancel">Cancel</button>
    </form>
    <form v-on:submit.prevent="submitForm">
        <button class="remove" @click="removeGuestData">Remove Guest</button>
    </form>
</template>
    
<script>

import axios from 'axios';

export default {
    name: 'GuestDataComponent',
    emits: [
        'guestDataCancelEvent'
    ],
    data() {
        return {
            guestData: {
                "wneID": "",
                "residency": "resident",
                "grad_year": 0,
                "grad": "UG",
                "date": new Date().toLocaleDateString("en-US").replace("/", "-").replace("/", "-"),
            },
            existingGuest: true,
            visitData: {
                "wneID": "",
                "date": new Date().toLocaleDateString("en-US").replace("/", "-").replace("/", "-"),
            }
        }
    },
    props: {
        idNum: String
    },
    watch: {
        idNum() {
            this.fetchGuestData();
        }
    },
    methods: {

        async fetchGuestData() {
            try {
                let guestURL = "http://localhost:10350/guests/" + this.idNum;
                let response = await axios.get(guestURL);

                if (response.status == 200) {
                    this.guestData = response.data;
                    this.existingGuest = true;
                    console.log(this.guestData);
                }
            } catch (err) {
                if (err.response.status == 404) {
                    console.log("not found");
                    this.guestData.wneID = this.idNum;
                    this.existingGuest = false;
                    alert("Guest with ID " + this.idNum + " not found.\nTo add guest, complete the form and click Submit Changes.\nOtherwise click Cancel.");
                }
                console.log(err);
            }
        },
        // Send Guest Information to Backend 
        async submitGuestData() {

            if (this.existingGuest) {
                axios.put("http://localhost:10350/guests/" + this.guestData.wneID, this.guestData)
                    .then(() => {
                        //  success - record the visit
                        this.recordVisit();
                    })
                    .catch(error => {
                        alert("An error has ocurred: " + error);
                        console.error(error);
                    })
            } else {
                console.log(this.guestData);
                axios.post("http://localhost:10350/guests/", this.guestData)
                    .then(() => {
                        // success - add guest then record visit
                        alert("Guest added");
                        this.recordVisit();
                    })
                    .catch(error => {
                        alert("An error has ocurred: " + error);
                        console.error(error);
                    })
            }
        },
        // Remove Guest Information from Backend
        async removeGuestData() {
            if (this.existingGuest) {
                axios.delete("http://localhost:10350/guests/" + this.guestData.wneID, this.guestData)
                    .then(() => {
                        //success - remove guest from db
                        alert("Guest Successfully removed");
                        location.reload();
                    })
                    .catch(error => {
                        alert("An error has ocurred: " + error);
                        console.error(error);
                    })
            }
        },
        recordVisit() {
            this.visitData.wneID = this.guestData.wneID;
            axios.post("http://localhost:10350/visits/", this.visitData)
                .then(() => {
                    //  success - do nothing
                    alert("Visit recorded.");
                    console.log();
                    this.cancel();
                })
                .catch(error => {
                    alert("An error has ocurred: " + error);
                    console.error(error);
                })
        },
        cancel() {
            location.reload();
            this.$emit('guestDataCancelEvent');
        }
    }
}

</script> 

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
form {
    margin: auto;
    max-width: 90%;
    padding: 1vh 0 1vh 0;
    text-align: left;
}

.remove {
    background: #C0392B;
}
</style>
