/*

Provides a Vue 3 component that allows the user to enter a Worcester State
University ID number (5 digits with leading zeros). The ID number can be
entered manually, or through a card swipe.

The card swipe version of the ID is preceded by ;0000 then the 5 digit ID.

Emits a sendIDEvent with the ID.

*/

<template>
    <div class="container">
        <input class="guestIdField" placeholder="Guest ID" v-model="idNum" 
            @keypress.prevent @keyup="idNumChange"
            autofocus="autofocus" />
        <button class="submit" :disabled="!submitEnable" 
            @click="onClickSubmit()">Add guest / record visit</button>
    </div>
</template>

<script>

function isDigit(key) {
    return key >= '0' && key <= '9';
}

export default {
    name: "IdInputComponent",
    emits: [
        'sendIDEvent'
    ],
    data() {
        return {
            idNum: '',
            idInputMode: 'manual',
            swipeZerosSeen: 0,
            submitEnable: false,
        }
    },
    props: {
        idNumber: String
    },
    watch: {
        idNumber() {
            this.idNum = this.idNumber;
        }
    },
    methods: {
        idNumChange(e) {

            // hide submit button if all 5 numbers have not been entered
            if (this.idNum.length < 5) {
                this.submitEnable = false;
            }
            // if the first character we see is ';' this is from a card swipe
            if (this.idInputMode === 'manual' && this.idNum.length === 0 && e.key === ';') {
                this.idInputState = 'swipe';
                this.swipeZerosSeen = 0;
            }
            // manual mode: accept only digits until we get 5
            else if (this.idInputMode === 'manual') {
                this.accept5Digits(e.key);
            }
            // swipe mode: watch for 4 zeros, then accept 5 digits
            else if (this.idInputMode === 'swipe') {
                if (this.idNum.length === 0 && this.swipeZeros < 4) {
                    if (e.key === '0') {
                        this.swipeZeros++;
                    } else {
                        this.idInputState = 'manual'
                    }
                } else {
                    this.accept5Digits(e.key);
                }
            }
        },
        accept5Digits(key) {
            if (this.idNum.length < 5 && isDigit(key)) {
                this.idNum = this.idNum + key;
                if (this.idNum.length === 5) {
                    this.submitEnable = true;
                    this.idInputState = "manual";
                }
            }
        },
        onClickSubmit() {
            this.idNum = [this.idNum.slice(0, 3), "-", this.idNum.slice(3)].join('');
            this.$emit('sendIdEvent', this.idNum);
        },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.guestIdField {
    min-height: 5vh;
    min-width: 20vw;
    max-width: 25vw;
    margin: 0 10px 10px 0;
    font-size: 20px;
    color: black;
}
</style>
