/*


Main Vue 3 application.


*/


<template>
    <head>
        <meta charset="utf-8" />
        <title>Guest Visit Tracker</title>
        <link rel="icon" type="image/x-icon" href="./public/wne_favicon.ico" />
    </head>


    <body>
        <img src="./assets/wne-logo.png" class="logo" alt="Western New England University Logo">


        <div class='content-container'>
            <div class='content-title'>
                <h1>: BEAR NECESSITIES MARKET</h1>
            </div>

            <div class='wrapper'>
                <div class='center'>

                    <h6> <strong> Home Page </strong> </h6>
                    <div class='logo'>
                        <img src=".\assets\wne-bear-logo.png" alt="Bear logo">
                    </div>


                    <div class='buttonContainer'>

                        <button @click="$emit(changePageGuest())"> Guest Management</button>

                        <button @click="$emit(changePageReport())"> Reporting</button>

                        <button @click="$emit(cancel())"> Cancel</button>


                    </div>


                    <div class='content-body'>

                        <div v-show="getReportVisible">
                            <getReport>
                            </getReport>
                        </div>

                        <div v-show="idInputComponentVisible">
                            <idInputComponent :idNumber="idNum" @sendIdEvent="receiveID">
                            </idInputComponent>
                        </div>


                        <div v-show="guestDataComponentVisible">
                            <guestDataComponent :idNum="idNum" @guestDataCancelEvent="guestDataCancel">
                            </guestDataComponent>
                        </div>
                    </div>
                </div>
            </div>

            <div class='content-footer'>
                <p>This software is a <a href="https://librefoodpantry.org">LibreFoodPantry</a> project.</p>
                <p>&copy; 2022 LibreFoodPantry Authors</p>
            </div>
        </div>
    </body>
</template>

<script>
import guestDataComponent from "./components/guest-data-component.vue"
import idInputComponent from "./components/id-input-component.vue"
import getReport from "./components/bnm-reports.vue"


export default {
    components: {
        idInputComponent,
        guestDataComponent,
        getReport,
    },
    data() {
        return {
            idInputComponentVisible: false,
            guestDataComponentVisible: false,
            getReportVisible: false,
            idNum: "",
        }
    },
    methods: {
        receiveID(idNum) {
            this.idNum = idNum;
            this.idInputComponentVisible = false;
            this.guestDataComponentVisible = true;
        },
        guestDataCancel() {
            this.idNum = "";
            this.idInputComponentVisible = false;
            this.guestDataComponentVisible = false;
        },
        changePageGuest() {
            console.log("page changed to guest")
            this.idInputComponentVisible = true;
            this.getReportVisible = false;
            this.guestDataComponentVisible = false;
        },
        changePageReport() {
            console.log("page changed to Report")
            this.idInputComponentVisible = false;
            this.getReportVisible = true;
            this.guestDataComponentVisible = false;
        },
        cancel() {
            this.idInputComponentVisible = false;
            this.getReportVisible = false;
            this.guestDataComponentVisible = false;

        }
    },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,300&display=swap');

/* ------ START CSS RESET ------ */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ------- END CSS RESET ------- */

body,
html {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: rgb(0, 48, 135);
}

.content-container {
    margin: auto;
    border-radius: 25px;
    background: white;
    border-radius: 1rem;
    max-width: 80%;
    text-align: center;

}

.content-container .content-title {
    background: rgb(255, 184, 28);
    padding: 1rem;
    border-radius: 25px;
    border-radius: 1rem 1rem 0 0;
    font-variant: all-small-caps;
    text-align: center;
}

.content-title h1 {
    font-weight: bold;
}

.content-container .content-body {
    padding: 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    width: 75%;
}

.center {
    margin: auto;
    border-radius: 25px;
    width: 80%;
    padding: 10px;
    background-color: rgb(0, 48, 135);
    text-align: center;
}

.new-guest {
    background: dodgerblue;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    font-size: 16px;
}

.content-container .content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    border-top: 1px solid #d9d9d9;
    text-align: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;

}

input {
    border-radius: 5px;
    color: #191919;
    padding: 1rem;
    background: white;
    border: 1px solid #C9C9C9;
    margin: 0.5rem;
    font-size: 16px;
}

input:disabled {
    color: #676767;
    background: #C9C9C9;
    border: 1px solid #525252;
}

input:focus {
    outline: 1px solid lightskyblue;
}

input[type=button],
button {
    background: dodgerblue;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    font-size: 16px;
    width: 200px;
}

.wrapper {
    width: 1000px;
    padding: 2rem;
    border-radius: 25px;
    /* display: inline-block; */
}

.logo {
    border-style: none;
    height: 500px;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    height: auto;
    width: 500px;
}

.buttonContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h6 {
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.toggle {
    display: none;
}
</style>
